/* general */
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
 background-color: rgb(39, 41, 56);
}

/* elements */

/* classes */
.container{
    block-size:100vh;
    inline-size: 900px;
    margin-inline:auto;
    

     

.menu{
    inline-size: inherit;
    block-size:50px;
    background-color: rgb(95, 92, 93);
    border-inline: 10px solid rgb(19, 18, 18);
    /* box-shadow:0px 10px 20px rgba(4, 4, 5, 0.5); */
}

.article{
    inline-size: inherit;
    background-color: grey;
    border-inline: 10px solid rgb(148, 145, 145);
    block-size:calc(100vh - 50px);
}
}
/* high specificity  */
div.menu ul{
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    block-size: inherit;
    align-items: center;

}



/* links */

a {
    
    font-weight: 800;
    letter-spacing: .04em;
    text-decoration:none;
}

a:link{
    color:rgb(19, 18, 18);
}

a:visited{
    color:rgb(19, 18, 18);
}

a:focus{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: none;
    color:white;
}

a:active{
 background: grey;   
}

@media  (max-width: 900px){
    div.menu ul{
        flex-direction:column;
        
    }

    .container .menu{
        block-size:150px;
        border:none;
        
    }

    .container{
        inline-size:100vw;
    }
}